* {
    margin:0;
    padding:0;
   
    font-family:arial;
   }
    
 .container{
     width:100%;
     height:100vh;
     font-family:sans-serif;
     background-color:rgb(187,187,245);
     color:#fff;
     display:flex;
     align-items:center;
     justify-content:center;

    }
.card{
    width: 500px;
    height:95vh;
    box-shadow:0 0 40px 20px rgba(0, 0, 0, 0.26);
    perspective: 1000px;

}   
.inner-box{
    position:relative;
    width:100%;
    height:100%;
   
    transform-style: preserve-3d;
    transition:transform 1s;  

} 
.card-front,.card-back{
    position:absolute;
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
   
    padding:55px;
    box-sizing:border-box;
    backface-visibility: hidden;
}
.card-back{
    transform:rotateY(180deg);
}
.input-box{
    width:100%;
    border:1px solid black;
    margin:6px 0;
    height:28px;
    padding:0 10px;
    box-sizing:border-box;
    outline:none;
    

}

button{
    width:100%;
    background:transparent;
    border:1px solid #fff;
    margin:35px 0 10px;
    height:32px;
    font-size: 12px;
    box-sizing:border-box;
    padding:0 10px;
  
    cursor:pointer;
    border-radius:30px;

}
    



